<p id="notice"></p>

<h2><%= @user.username %></h2>
<p>
  <% if @user.ratings.empty? %>
    Has not yet rated any beers.
  <% else %>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>. Average rating is <%= @user.average_rating %>.
  <% end %>
</p>
<p>
  Favourite beer: <%= @user.favourite_beer %><br>
  Favourite style: <%= @user.favourite_style %><br>
  Favourite brewery: <%= @user.favourite_brewery %>
</p>

<p>
  <% if @user.beerclubs.empty? %>
    Is not part of any clubs.
  <% else %>
    Is a member of:
    <ul>
      <% @user.beerclubs.each do |club| %>
        <li><%= link_to club.name, club %></li>
      <% end %>
    </ul>
  <% end %>
</p>
<% if @user.ratings.any? %>
  <h3>Ratings:</h3>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li><%= rating %> 
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @user == current_user %>
  <p>
    <%= link_to 'Edit', edit_user_path(@user) %></td> |
      <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
