<p id="notice"></p>

<h1>List of Ratings</h1>
<p>Number of Ratings: <%= @ratings.count %></p>
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>

<br>

<%= link_to 'List of Breweries', breweries_path %>
<%= link_to 'List of Beers', beers_path %>