<p id="notice"></p>

<p>
  <h2><%= @style.name %></h2>
</p>

<p>
  <%= @style.description %>
</p>

<% if @style.beers.present? %>
  <p>
    <strong>Beers: </strong></br>
    <ul class="list-group">
      <% @style.beers.each do |b| %>
        <li class="list-group-item"><%= link_to b.name, b %></li>
      <% end %>
    </ul>
  </p>
<% else %>
  <p>There are no beers of this style in the database yet.</p>
<% end %>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
