<p id="notice"></p>

<h1>Breweries total: <%= @breweries.count %> </h1>
<h2>Active Breweries: <%= @active_breweries.count %> </h2>

<%= render 'list', breweries: @active_breweries %>

<h2>Closed Breweries: <%= @retired_breweries.count %></h2>

<%= render 'list', breweries: @retired_breweries%>

</br>

<%= link_to 'New Brewery', new_brewery_path %>
<%= link_to 'List of Beers', beers_path %>
