<p id="notice"></p>

<h2>
  <%= @brewery.name %>
  <% if not @brewery.active %>
    <span class="badge badge-info">Closed down</span>
  <% end %>
</h2>
<%= link_to "Toggle status", toggle_activity_brewery_path(@brewery.id), 
  method: :post, class: "btn btn-primary" %>


<p>
  <i>Established in <%= @brewery.year %>.</i>
</p>
<p>
  <strong><%= @brewery.beers.count %> beers by <%= @brewery.name %>:</strong></br>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %>
  <% end %>
</p>
<p>
  <% if @brewery.ratings.empty? %>
    None of the beers have yet been rated!
  <% else %>
    Brewery's beers have a total of <%= pluralize(@brewery.ratings.count, 'rating') %>, with an average of <%= @brewery.average_rating %>.
  <% end %>
</p>

<%= edit_and_destroy_buttons(@brewery) %>
