<p id="notice"><%= notice %></p>

<h2><%= @beerclub.name %> <%= @beerclub.city %></h2>
<p> Founded <%= @beerclub.founded %></p>

<p>
<% if @beerclub.members.empty? %>
  Club has no members.
<% else %>
  <h3>Members</h3>
  <ul>
  <% @beerclub.members.each do |member| %>
    <li><%= link_to member.username, member %></li>
  <% end %>
  </ul>
<% end %>
</p>

<% if current_user && !current_user.member?(@beerclub.id) %>
  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beerclub_id %>
    <%= f.submit value: "Join this club!" %>
  <% end %>
<% end %>

<% if current_user && current_user.member?(@beerclub.id) %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beerclub_id %>
    <%= f.submit value: "Quit the club." %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_beerclub_path(@beerclub) if current_user %>
