<h1>Beer places search</h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search", class:"btn btn-secondary" %>
<% end %>

<p id="notice"></p>

<% if @weather %>
  <p>
    Current beer weather in <%= @weather['location']['name'] %>:</br>
    <%= @weather['current']['condition']['text'] %>, 
    <%= @weather['current']['temp_c']%> Celsius, 
    wind speed <%= @weather['current']['wind_kph'] %>m/s.
    <img src=<%= @weather['current']['condition']['icon'] %> >
  </p>
<% end %>

<% if @places %>
  <table class="table table-hover">
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <% if field.eql?(:name) %>
            <td><%= link_to place.name, place_path(place.id) %></td>
          <% else %>
          <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
